<!-- RIBBON -->
<div id="ribbon">
	<ol class="breadcrumb">
		<li>@ViewBag.NaviMainString</li>
		@if (ViewBag.NaviSubString != "")
		{
			<li>@ViewBag.NaviSubString</li>
		}
	</ol>

</div>
<!-- END RIBBON -->