
<div id="content">







	<section id="widget-grid" class="" style="max-width:1000px;">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
						<h2> ESE 계좌 정보</h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset>
								

									<div class="row">
										<label class="label col col-2">SWIFT CODE</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="IBKOKRSE">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">은행 주소</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="50, ULCHIRO 2-GA, CHUNG-GU, SEOUL KOREA">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">당행 계좌번호</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="원화 / 외화 계좌 모두 가능">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">영문 수취인 명</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="KANG MINSUNG">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-12">메모</label>

									</div>

									<section>
										<label class="textarea textarea-resizable">
											<textarea rows="3" class="custom-scroll"></textarea>
										</label>
									</section>
								</fieldset>
								<footer>
									<p>권한이 있을 경우만 해당 영역 노출</p>
									<button type="submit" class="btn btn-primary">
										수정
									</button>
								</footer>
							</form>

						</div>
					</div>
				</div>
			</article>

		</div>
	</section>



</div>
<!-- END MAIN CONTENT -->
