
<div id="content">







	<section id="widget-grid" class="" style="max-width:1000px;">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
						<h2> ESE 계정 정보</h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset>
									<div class="row">
										<label class="label col col-2">ID(E-MAIL)</label>
										<label class="label col col-4">lakantoq@naver.com</label>
									</div>
								</fieldset>
								<fieldset>
									<div class="row">
										<label class="label col col-2">현제 비밀번호</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">새 비밀번호</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="비밀번호 변경시에만 입력해 주세요">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">비밀번호 확인</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="비밀번호 변경시에만 입력해 주세요">
											</label>
										</section>
									</div>

								</fieldset>
								<footer>
									<button type="submit" class="btn btn-primary">
										수정
									</button>
								</footer>
							</form>

						</div>
					</div>
				</div>
			</article>

		</div>
	</section>



</div>
<!-- END MAIN CONTENT -->
