<!-- RIBBON -->
<div id="ribbon">
    <div style="padding-top:10px;"></div>
    <span style="color:white; font-size:14px;">
        <i class="fa fa-inbox"></i> 입고 관리 / 상세 검색
    </span>
</div>
<!-- END RIBBON -->

<h2>입고 관리 - 상세 검색</h2>

