<!-- RIBBON -->
<div id="ribbon">
    <div style="padding-top:10px;"></div>
    <span style="color:white; font-size:14px;">
        <i class="fa fa-inbox"></i> 입고 관리 / 재고배송 관리 / Packing 검수
    </span>
</div>
<!-- END RIBBON -->

<h2>입고 관리 - 재고배송 관리 - Packing 검수</h2>