
<div id="content">




	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>ETOMARS 관리자 계정 목록</h2>
						<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
					</header>

					<div role="content">
						<div class="widget-body no-padding">


							<div class="table-responsive">

								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="width:5%;">번호</th>
											<th style="width:8%;"></th>
											<th>E-MAIL</th>
											<th style="width:10%;">사용자 명</th>
											<th style="width:14%;">연락처</th>
											<th style="width:8%;">상태</th>
											<th style="width:18%;">등록일자</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i> </span>
												</a>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i> </span>
												</a>
											</td>
											<td>lakantoq@naver.com</td>
											<td>강민성</td>
											<td>010-2028-1393</td>
											<td>미사용</td>
											<td>2018-03-31 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i> </span>
												</a>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i> </span>
												</a>
											</td>
											<td>lakantoq@naver.com</td>
											<td>강민성</td>
											<td>010-2028-1393</td>
											<td>미사용</td>
											<td>2018-03-31 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i> </span>
												</a>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i> </span>
												</a>
											</td>
											<td>lakantoq@naver.com</td>
											<td>강민성</td>
											<td>010-2028-1393</td>
											<td>미사용</td>
											<td>2018-03-31 00:00:00</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
				<a class="btn btn-default" href="javascript:void(0);" data-toggle="modal" data-target="#myModal_add"> 신규 등록</a>
				<div class="text-center">
					<ul class="pagination pagination-lg">
						<li>
							<a href="javascript:void(0);"><i class="fa fa-chevron-left"></i></a>
						</li>
						<li class="active">
							<a href="javascript:void(0);">1</a>
						</li>
						<li>
							<a href="javascript:void(0);">2</a>
						</li>
						<li>
							<a href="javascript:void(0);">3</a>
						</li>
						<li>
							<a href="javascript:void(0);">4</a>
						</li>
						<li>
							<a href="javascript:void(0);">5</a>
						</li>
						<li>
							<a href="javascript:void(0);"><i class="fa fa-chevron-right"></i></a>
						</li>
					</ul>
				</div>

			</article>
		</div>
	</section>














</div>
<!-- END MAIN CONTENT -->



<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:800px;">
		<div class="modal-content">



			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title" id="myModalLabel">ETOMARS 관리자 계정 정보</h4>
			</div>
			<div class="modal-body">


				<section id="widget-grid" class="" style="max-width:1000px;">
					<div class="row">
						<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
							<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
								<header role="heading">
									<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
									<h2> ETOMARS 관리자 계정 정보</h2>
								</header>
								<div role="content">
									<div class="widget-body no-padding">
										<form id="checkout-form" class="smart-form" novalidate="novalidate">

											<fieldset>
												<div class="row">
													<label class="label col col-2">ID(E-MAIL)</label>
													<section class="col col-4">
														<label for="address2" class="input">
															<input type="text" name="address2" id="address2" placeholder="">
														</label>
													</section>


													<label class="label col col-2">상태</label>
													<section class="col col-2">
														<label class="radio">
															<input type="radio" name="radio" checked="checked">
															<i></i>승인
														</label>
													</section>
													<section class="col col-2">
														<label class="radio">
															<input type="radio" name="radio" >
															<i></i>미승인
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">사용자 명</label>
													<section class="col col-4">
														<label for="address2" class="input">
															<input type="text" name="address2" id="address2" placeholder="">
														</label>
													</section>

													<label class="label col col-2">연락처</label>
													<section class="col col-4">
														<label for="address2" class="input">
															<input type="text" name="address2" id="address2" placeholder="">
														</label>
													</section>
												</div>
												<div class="row">
													<label class="label col col-2">부서</label>
													<section class="col col-4">
														<label for="address2" class="input">
															<input type="text" name="address2" id="address2" placeholder="">
														</label>
													</section>

													<label class="label col col-2">직급</label>
													<section class="col col-4">
														<label for="address2" class="input">
															<input type="text" name="address2" id="address2" placeholder="">
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">메모</label>
													<section class="col col-10">
														<label for="address2" class="input">
															<input type="text" name="address2" id="address2" placeholder="">
														</label>
													</section>
												</div>
											</fieldset>
											<fieldset>
												<div class="row">
													<label class="label col col-2">비밀번호</label>
													<section class="col col-10">
														<label for="address2" class="input">
															<input type="text" name="address2" id="address2" placeholder="비밀번호 변경시에만 입력해 주세요">
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">비밀번호 확인</label>
													<section class="col col-10">
														<label for="address2" class="input">
															<input type="text" name="address2" id="address2" placeholder="비밀번호 변경시에만 입력해 주세요">
														</label>
													</section>
												</div>


											</fieldset>

											<fieldset>
												<div class="row">
													<label class="label col col-2">메뉴1</label>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>조회
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>등록
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>수정
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>삭제
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">메뉴1</label>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>조회
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>등록
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>수정
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>삭제
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">메뉴1</label>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>조회
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>등록
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>수정
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>삭제
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">메뉴1</label>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>조회
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>등록
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>수정
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>삭제
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">메뉴1</label>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>조회
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>등록
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>수정
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>삭제
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">메뉴1</label>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>조회
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>등록
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>수정
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>삭제
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">메뉴1</label>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>조회
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>등록
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>수정
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>삭제
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">메뉴1</label>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>조회
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>등록
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>수정
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>삭제
														</label>
													</section>
												</div>

											</fieldset>
										</form>

									</div>
								</div>
							</div>
						</article>

					</div>
				</section>




			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					닫기
				</button>
				<button type="submit" class="btn btn-primary">
					수정
				</button>
			</div>


		</div>
	</div>
</div>







<div class="modal fade in" id="myModal_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:800px;">
		<div class="modal-content">



			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title" id="myModalLabel">계정 등록</h4>
			</div>
			<div class="modal-body">


				<section id="widget-grid" class="" style="max-width:1000px;">
					<div class="row">
						<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
							<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
								<header role="heading">
									<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
									<h2> ESE 계정 정보</h2>
								</header>
								<div role="content">
									<div class="widget-body no-padding">
										<form id="checkout-form" class="smart-form" novalidate="novalidate">

											<fieldset>
												<div class="row">
													<label class="label col col-2">ID(E-MAIL)</label>
													<label class="label col col-4">lakantoq@naver.com</label>

													<label class="label col col-2">상태</label>
													<label class="label col col-2">승인</label>
												</div>

												<div class="row">
													<label class="label col col-2">사용자 명</label>
													<section class="col col-4">
														<label for="address2" class="input">
															<input type="text" name="address2" id="address2" placeholder="">
														</label>
													</section>

													<label class="label col col-2">연락처</label>
													<section class="col col-4">
														<label for="address2" class="input">
															<input type="text" name="address2" id="address2" placeholder="">
														</label>
													</section>
												</div>
											</fieldset>
											<fieldset>
												<div class="row">
													<label class="label col col-2">비밀번호</label>
													<section class="col col-10">
														<label for="address2" class="input">
															<input type="text" name="address2" id="address2" placeholder="">
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">비밀번호 확인</label>
													<section class="col col-10">
														<label for="address2" class="input">
															<input type="text" name="address2" id="address2" placeholder="">
														</label>
													</section>
												</div>

											</fieldset>

											<fieldset>
												<div class="row">
													<label class="label col col-2">메뉴1</label>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>조회
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>등록
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>수정
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>삭제
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">메뉴1</label>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>조회
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>등록
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>수정
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>삭제
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">메뉴1</label>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>조회
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>등록
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>수정
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>삭제
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">메뉴1</label>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>조회
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>등록
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>수정
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>삭제
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">메뉴1</label>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>조회
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>등록
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>수정
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>삭제
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">메뉴1</label>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>조회
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>등록
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>수정
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>삭제
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">메뉴1</label>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>조회
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>등록
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>수정
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>삭제
														</label>
													</section>
												</div>

												<div class="row">
													<label class="label col col-2">메뉴1</label>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>조회
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>등록
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>수정
														</label>
													</section>
													<section class="col col-2">
														<label class="checkbox">
															<input type="checkbox" name="checkbox" checked="checked">
															<i></i>삭제
														</label>
													</section>
												</div>
											</fieldset>
										</form>

									</div>
								</div>
							</div>
						</article>

					</div>
				</section>




			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					닫기
				</button>
				<button type="submit" class="btn btn-primary">
					등록
				</button>
			</div>


		</div>
	</div>
</div>