



<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		×
	</button>
	<h4 class="modal-title" id="myModalLabel">상품정보 **상품등록 페이지 사용 방안 확인 후 작업</h4>
</div>
<div class="modal-body">

	<section id="widget-grid" class="" >
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
						<h2>필수 입력 항목 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset>
									<div class="row">
										<label class="label col col-2">카테고리</label>
										<section class="col col-10">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">카테고리1</option>
												</select> <i></i>
											</label>
										</section>
									</div>


									<div class="row">
										<label class="label col col-2">바코드</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
										<label class="label col col-2">SKU</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">대표 상품명</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>
								</fieldset>

							</form>

						</div>
					</div>
				</div>
			</article>
		</div>
	</section>


	<section id="widget-grid" class="" style="max-width:1000px;">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
						<h2> 선택 입력 항목 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">


								<fieldset>
									<div class="row">
										<label class="label col col-2">상품명 (영어)</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">상품명 (중국어)</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">상품명 (한국어)</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">상품명 (일본어)</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">브랜드명</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">가격</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="10000">
											</label>
										</section>
										<label class="label col col-2">중량/용량</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="100">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">단위</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="중량 / 용량의 단위">
											</label>
										</section>
										<label class="label col col-2">규격</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="병 / 개 / 장 등">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">유통기한</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="365일">
											</label>
										</section>
										<label class="label col col-2">유통만료일자</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="2018-03-01">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">원산지</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">성분</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="면 100% / 나일론100% 등">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">상세스팩</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">판매사이트 URL</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">Image URL</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>
								</fieldset>

							</form>

						</div>
					</div>
				</div>
			</article>
		</div>
	</section>




</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">
		닫기
	</button>
	<button type="submit" class="btn btn-primary">
		상품 정보 수정
	</button>
</div>