
<div id="content">







	<section id="widget-grid" class="" style="max-width:1000px;">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-floppy-o"></i> </span>
						<h2>보관상품 대량 엑셀 등록 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset>

									<div class="row">
										<section class="col col-9">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">ETOMARS 양식</option>
												</select> <i></i>
											</label>
										</section>
										<label class="label col col-3">
											<a class="btn btn-primary" href="javascript:void(0);" style="padding:5px 22px; " > 엑셀양식 다운로드</a>
										</label>
									</div>

								</fieldset>
								<fieldset>
									<div class="row">
										<section class="col col-9">
											<div class="input input-file">
												<span class="button"><input type="file" id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" placeholder="Include some files" readonly="">
											</div>
										</section>
										<label class="label col col-3">
											<a class="btn btn-primary" href="javascript:void(0);"  style="padding:5px 22px; "> 엑셀양식 업로드&nbsp;&nbsp;</a>
										</label>
									</div>

								</fieldset>

							</form>

						</div>
					</div>
				</div>
			</article>
		</div>
	</section>


	<div class="alert alert-block alert-success" style="max-width:1000px;">
		<h4 class="alert-heading"><i class="fa fa-check-square-o"></i> 보관상품 개별 등록</h4>
		<p>
			중국 배송용 상품은 선택 입력 항목을 입력해 주시기 바랍니다.
		</p>
	</div>


	<section id="widget-grid" class="" style="max-width:1000px;">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
						<h2>필수 입력 항목 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset>

									<div class="row">
										<label class="label col col-2">카테고리</label>
										<section class="col col-10">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">카테고리1</option>
												</select> <i></i>
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">바코드</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">대표 상품명</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>
								</fieldset>

							</form>

						</div>
					</div>
				</div>
			</article>
		</div>
	</section>


	<section id="widget-grid" class="" style="max-width:1000px;">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
						<h2> 선택 입력 항목 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">


								<fieldset>
									<div class="row">
										<label class="label col col-2">상품명 (영어)</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">상품명 (중국어)</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">상품명 (한국어)</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">상품명 (일본어)</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">SKU</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

						<div class="row">
							<label class="label col col-2">브랜드명</label>
							<section class="col col-10">
								<label for="address2" class="input">
									<input type="text" name="address2" id="address2" placeholder="">
								</label>
							</section>
						</div>

						<div class="row">
							<label class="label col col-2">가격</label>
							<section class="col col-4">
								<label for="address2" class="input">
									<input type="text" name="address2" id="address2" placeholder="10000">
								</label>
							</section>
							<label class="label col col-2">화폐단위</label>
							<section class="col col-4">
								<label class="select">
									<select name="country">
										<option value="0" selected="" disabled="">$</option>
									</select> <i></i>
								</label>
							</section>

							<pre><!--작업후 삭제-->
								*화폐 단위는 서비스 국가 리스트에서 불러와 사용
								
							</pre>
						</div>


							

						<div class="row">
							<label class="label col col-2">중량/용량</label>
							<section class="col col-4">
								<label for="address2" class="input">
									<input type="text" name="address2" id="address2" placeholder="100">
								</label>
							</section>
							<label class="label col col-2">단위</label>
							<section class="col col-4">
								<label class="select">
									<select name="country">
										<option value="0" selected="" disabled="">ml</option>
									</select> <i></i>
								</label>
							</section>
						</div>

						<div class="row">
							<label class="label col col-2">규격</label>
							<section class="col col-4">
								<label for="address2" class="input">
									<input type="text" name="address2" id="address2" placeholder="병 / 개 / 장 등">
								</label>
							</section>
							<label class="label col col-2">유통기한</label>
							<section class="col col-4">
								<label for="address2" class="input">
									<input type="text" name="address2" id="address2" placeholder="365일">
								</label>
							</section>
							<!--label class="label col col-2">유통만료일자</label>
							<section class="col col-4">
								<label for="address2" class="input">
									<input type="text" name="address2" id="address2" placeholder="2018-03-01">
								</label>
							</section-->
						</div>

						<div class="row">
							<label class="label col col-2">원산지</label>
							<section class="col col-10">
								<label for="address2" class="input">
									<input type="text" name="address2" id="address2" placeholder="">
								</label>
							</section>
						</div>

						<div class="row">
							<label class="label col col-2">성분</label>
							<section class="col col-10">
								<label for="address2" class="input">
									<input type="text" name="address2" id="address2" placeholder="면 100% / 나일론100% 등">
								</label>
							</section>
						</div>

						<div class="row">
							<label class="label col col-2">상세스팩</label>
							<section class="col col-10">
								<label for="address2" class="input">
									<input type="text" name="address2" id="address2" placeholder="">
								</label>
							</section>
						</div>

						<div class="row">
							<label class="label col col-2">판매사이트 URL</label>
							<section class="col col-10">
								<label for="address2" class="input">
									<input type="text" name="address2" id="address2" placeholder="">
								</label>
							</section>
						</div>

						<div class="row">
							<label class="label col col-2">Image URL</label>
							<section class="col col-10">
								<label for="address2" class="input">
									<input type="text" name="address2" id="address2" placeholder="">
								</label>
							</section>
						</div>
						</fieldset>


						<footer>
							<button type="submit" class="btn btn-primary">
								상품 등록
							</button>
						</footer>
						</form>

					</div>
					</div>
				</div>
			</article>
		</div>
	</section>

</div>
		<!-- END MAIN CONTENT -->
