<div class="login-info">
	<!--
	<span>
		<a id="show-shortcut" data-action="toggleShortcut">
			<span>@User.Identity.Name.ToLower()</span>
			<i class="fa fa-angle-down"></i>
		</a>
	</span>
		-->
	<span style="margin-top: 6px;
		height: 38px; 
			display: inline-block;
			text-transform: capitalize;
			text-decoration: none;
			max-width: 150px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: middle;
			font-size:14px;">@User.Identity.Name.ToLower()</span>
</div>


