<!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
Note: These tiles are completely responsive,
you can add as many as you like
-->

<div id="shortcut">
    <ul>
        <li>
            <a href="@Url.Action("marreq", "mar")" class="jarvismetro-tile big-cubes bg-color-blue"> 
				<span class="iconbox"> 
						<i class="fa fa-lg fa-fw fa-maxcdn fa-4x"></i> 
						<span>
							MAR <span class="label pull-right bg-color-darken">1,200</span>
						</span> 
				</span> 
			</a>
        </li>
		<li>
			<a href="@Url.Action("csqna", "cs")" class="jarvismetro-tile big-cubes bg-color-blue">
				<span class="iconbox">
					<i class="fa fa-lg fa-fw fa-user fa-4x"></i>
					<span>
						QnA <span class="label pull-right bg-color-darken">1</span>
					</span>
				</span>
			</a>
		</li>
    </ul>
</div>
<!-- END SHORTCUT AREA -->