
<div id="content">



	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-search"></i> </span>
						<h2>조회 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset>


									<div class="row">

										<label class="label col col-1">문의유형</label>
										<section class="col col-3">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">일반문의</option>
												</select> <i></i>
											</label>
										</section>
										<label class="label col col-1">분류</label>
										<section class="col col-3">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">STAION</option>
												</select> <i></i>
											</label>
										</section>
										<label class="label col col-1">상태</label>
										<section class="col col-3">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">미답변</option>
												</select> <i></i>
											</label>
										</section>

									</div>
									<div class="row">
										<label class="label col col-1">검색조건</label>
										<section class="col col-2">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">제목</option>
												</select> <i></i>
											</label>
										</section>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="검색어">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-1">등록일자</label>
										<section class="col col-2">
											<label class="input">
												<i class="icon-append fa fa-calendar"></i>
												<input type="text" name="startdate" id="startdate" placeholder="Expected start date" class="hasDatepicker">
											</label>
										</section>
										<section class="col col-2">
											<label class="input">
												<i class="icon-append fa fa-calendar"></i>
												<input type="text" name="startdate" id="startdate" placeholder="Expected start date" class="hasDatepicker">
											</label>
										</section>

										<label class="label col col-2">&nbsp;</label>

										<label class="label col col-1">처리일자</label>
										<section class="col col-2">
											<label class="input">
												<i class="icon-append fa fa-calendar"></i>
												<input type="text" name="startdate" id="startdate" placeholder="Expected start date" class="hasDatepicker">
											</label>
										</section>
										<section class="col col-2">
											<label class="input">
												<i class="icon-append fa fa-calendar"></i>
												<input type="text" name="startdate" id="startdate" placeholder="Expected start date" class="hasDatepicker">
											</label>
										</section>
									</div>
								</fieldset>

								<footer>
									<button type="submit" class="btn btn-primary">
										전체 조회
									</button>

									<button type="submit" class="btn btn-primary">
										조회
									</button>
								</footer>
							</form>

						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<div class="row">
		<article class="col-sm-12">

			<label style="float:right;" class="select">
				<select name="country">
					<option value="0" selected="" disabled="">100개보기</option>
				</select> <i></i>
			</label>
			<label style="float:right;" class="select">
				<select name="country">
					<option value="0" selected="" disabled="">대표상품명</option>
				</select> <i></i>
			</label>
			<label style="float:right;">정렬</label>

		</article>
	</div>



	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>공지사항 조회 결과</h2>
					</header>

					<div role="content">
						<div class="widget-body no-padding">


							<div class="table-responsive">

								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="width:5%;">번호</th>
											<th style="width:6%;"></th>
											<th style="width:8%;">문의유형</th>
											<th style="width:6%;">분류</th>
											<th style="width:auto;">제목</th>
											<th style="width:8%;">상태</th>
											<th style="width:12%;">문의일자</th>
											<th style="width:12%;">답변일자</th>
											<th style="width:12%;">작성자</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
											<td>일반문의</td>
											<td>STATION</td>
											<td>2018-03-30 시스템 업데이트로 인한 점검 관련 문의</td>
											<td>답변</td>
											<td>2018-03-01 00:00:00</td>
											<td>2018-03-01 00:00:00</td>
											<td>ETIOMARS ADMIN</td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
											<td>일반문의</td>
											<td>STATION</td>
											<td>2018-03-30 시스템 업데이트로 인한 점검 관련 문의</td>
											<td>문의</td>
											<td>2018-03-01 00:00:00</td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
											<td>일반문의</td>
											<td>STATION</td>
											<td>2018-03-30 시스템 업데이트로 인한 점검 관련 문의</td>
											<td>답변</td>
											<td>2018-03-01 00:00:00</td>
											<td>2018-03-01 00:00:00</td>
											<td>ETIOMARS ADMIN</td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
											<td>일반문의</td>
											<td>STATION</td>
											<td>2018-03-30 시스템 업데이트로 인한 점검 관련 문의</td>
											<td>문의</td>
											<td>2018-03-01 00:00:00</td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
											<td>일반문의</td>
											<td>STATION</td>
											<td>2018-03-30 시스템 업데이트로 인한 점검 관련 문의</td>
											<td>답변</td>
											<td>2018-03-01 00:00:00</td>
											<td>2018-03-01 00:00:00</td>
											<td>ETIOMARS ADMIN</td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
											<td>일반문의</td>
											<td>STATION</td>
											<td>2018-03-30 시스템 업데이트로 인한 점검 관련 문의</td>
											<td>문의</td>
											<td>2018-03-01 00:00:00</td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
											<td>일반문의</td>
											<td>STATION</td>
											<td>2018-03-30 시스템 업데이트로 인한 점검 관련 문의</td>
											<td>답변</td>
											<td>2018-03-01 00:00:00</td>
											<td>2018-03-01 00:00:00</td>
											<td>ETIOMARS ADMIN</td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
											<td>일반문의</td>
											<td>STATION</td>
											<td>2018-03-30 시스템 업데이트로 인한 점검 관련 문의</td>
											<td>문의</td>
											<td>2018-03-01 00:00:00</td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
											<td>일반문의</td>
											<td>STATION</td>
											<td>2018-03-30 시스템 업데이트로 인한 점검 관련 문의</td>
											<td>답변</td>
											<td>2018-03-01 00:00:00</td>
											<td>2018-03-01 00:00:00</td>
											<td>ETIOMARS ADMIN</td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
											<td>일반문의</td>
											<td>STATION</td>
											<td>2018-03-30 시스템 업데이트로 인한 점검 관련 문의</td>
											<td>문의</td>
											<td>2018-03-01 00:00:00</td>
											<td></td>
											<td></td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<ul class="pagination pagination-lg">
						<li>
							<a href="javascript:void(0);"><i class="fa fa-chevron-left"></i></a>
						</li>
						<li class="active">
							<a href="javascript:void(0);">1</a>
						</li>
						<li>
							<a href="javascript:void(0);">2</a>
						</li>
						<li>
							<a href="javascript:void(0);">3</a>
						</li>
						<li>
							<a href="javascript:void(0);">4</a>
						</li>
						<li>
							<a href="javascript:void(0);">5</a>
						</li>
						<li>
							<a href="javascript:void(0);"><i class="fa fa-chevron-right"></i></a>
						</li>
					</ul>
				</div>

			</article>
		</div>
	</section>



</div>

<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:800px;">
		<div class="modal-content">




			<section id="widget-grid" class="" style="max-width:1000px;">
				<div class="row">
					<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
						<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
							<header role="heading">
								<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
								<h2> 기타 정보 </h2>
							</header>
							<div role="content">
								<div class="widget-body no-padding">
									<form id="checkout-form" class="smart-form" novalidate="novalidate">

										<fieldset>
											<div class="row">
												<label class="label col col-2">공지유형</label>
												<label class="label col col-10">일반문의</label>
											</div>
											<div class="row">
												<label class="label col col-2">제목</label>
												<label class="label col col-10">2018-03-30 시스템 업데이트로 인한 점검 관련 문의</label>
											</div>
											<div class="row">
												<label class="label col col-12">내용</label>
											</div>

										</fieldset>

										<fieldset>
											<section>
												<div id="collapseOne-1" class="panel-collapse collapse in">
													<div class="panel-body">
														2018-03-30 시스템 업데이트로 점검 시간 동안 송장 상태 확인은 가능한가요?
														2018-03-30 시스템 업데이트로 점검 시간 동안 송장 상태 확인은 가능한가요?
														2018-03-30 시스템 업데이트로 점검 시간 동안 송장 상태 확인은 가능한가요?
														2018-03-30 시스템 업데이트로 점검 시간 동안 송장 상태 확인은 가능한가요?
														2018-03-30 시스템 업데이트로 점검 시간 동안 송장 상태 확인은 가능한가요?
														2018-03-30 시스템 업데이트로 점검 시간 동안 송장 상태 확인은 가능한가요?
														2018-03-30 시스템 업데이트로 점검 시간 동안 송장 상태 확인은 가능한가요?
														2018-03-30 시스템 업데이트로 점검 시간 동안 송장 상태 확인은 가능한가요?
														2018-03-30 시스템 업데이트로 점검 시간 동안 송장 상태 확인은 가능한가요?
													</div>
												</div>
											</section>
										</fieldset>

										<fieldset>
											<div class="row">
												<label class="label col col-12">답변</label>
											</div>

										</fieldset>

										<fieldset>
											<section>
												<label class="textarea textarea-resizable">
													<textarea rows="10" class="custom-scroll"></textarea>
												</label>
											</section>
										</fieldset>
									</form>

								</div>
							</div>
						</div>
					</article>



				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						닫기
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						답변등록
					</button>
				</div>


		</div>
	</div>
</div>