
<div id="content">






	<div class="alert alert-block alert-success" style="max-width:1000px;">
		<h4 class="alert-heading"><i class="fa fa-check-square-o"></i> MAR 충전 (계좌이체)</h4>
	</div>


	<section id="widget-grid" class="" style="max-width:1000px;">
		<div class="row">



			<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-color-pink jarviswidget-sortable" id="wid-id-9" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" role="widget" style="">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-comments"></i> </span>
						<h2><strong>충전 요청 시 주의 사항</strong> </h2>
					</header>
					<div role="content">

						<div class="widget-body" style="height:381px;">
							<p class="alert alert-warning">

								한국 시간 12시 6시 기준으로 확인되어 처리 됩니다.

							</p>
							<p class="alert alert-warning">

								주말 / 공휴일 요청 시 다음 주 월요일에 처리 됩니다.

							</p>

							<p class="alert alert-warning">

								공휴일의 경우 충전이 지연될수 있습니다.

							</p>

							<p class="alert alert-warning">

								기타 등등...

							</p>
						</div>
					</div>
				</div>
			</article>




			<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
						<h2> 송금자 정보 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset >
									<section>
										<div class="inline-group">
											<label class="radio">
												<input type="radio" name="radio-inline" checked="checked">
												<i></i>수기입력
											</label>
											<label class="radio">
												<input type="radio" name="radio-inline">
												<i></i>회원 정보와 동일
											</label>
										</div>
									</section>
									<div class="row">
										<label class="label col col-3">요청자 ID</label>
										<label class="label col col-9">로그인한 회원 ID</label>
									</div>

									<div class="row">
										<label class="label col col-3">송금자 명</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">국가</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">이메일</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">전화번호</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">금액</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>
								</fieldset>
								<footer>
									<button type="submit" class="btn btn-primary">
										충전 요청
									</button>
								</footer>
							</form>

						</div>
					</div>
				</div>
			</article>




		</div>
	</section>





</div>
<!-- END MAIN CONTENT -->





