
<div id="content">






	<div class="alert alert-block alert-success" style="max-width:1000px;">
		<h4 class="alert-heading"><i class="fa fa-check-square-o"></i> MAR 환전 신청</h4>
	</div>


	<section id="widget-grid" class="" style="max-width:1000px;">
		<div class="row">



			<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-color-pink jarviswidget-sortable" id="wid-id-9" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" role="widget" style="">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-comments"></i> </span>
						<h2><strong>환전 요청 시 주의 사항</strong> </h2>
					</header>
					<div role="content">

						<div class="widget-body" style="height:255px;">
							<p class="alert alert-warning">

								환전 요청일 기준 2 ~ 3 일 처리시간 소요

							</p>
							<p class="alert alert-warning">

								환전 금액은 환전 처리 일자 기준 환율에 따라 예상 금액과 다소 차이가 발생할 수 있습니다.

							</p>


							<p class="alert alert-warning">

								기타 등등...

							</p>
						</div>
					</div>
				</div>
			</article>




			<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
						<h2> 신청자 정보 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset>
									<div class="row">
										<label class="label col col-3">보유 MAR</label>
										<label class="label col col-9">100.000</label>
									</div>

									<div class="row">
										<label class="label col col-12">&nbsp;</label>
									</div>
									<div class="row">
										<label class="label col col-3">환전 신청 MAR</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="1000">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-12">&nbsp;</label>
									</div>


									<div class="row">
										<label class="label col col-3">예상 환전 금액</label>
										<label class="label col col-9">112.340</label>
									</div>

									<div class="row">
										<label class="label col col-12">&nbsp;</label>
									</div>
								</fieldset>
								<footer>
									<button type="submit" class="btn btn-primary">
										환전 요청
									</button>
								</footer>
							</form>

						</div>
					</div>
				</div>
			</article>




		</div>
	</section>





</div>
<!-- END MAIN CONTENT -->
