

	<section id="widget-grid" class="" >
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
						<h2> EST 기본 정보 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset>
									<div class="row">
										<label class="label col col-2">업체명</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>

										<label class="label col col-2">국가</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">우편번호</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>

										<label class="label col col-2">사업자 번호</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">기본주소</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">상세주소</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">대표자명</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>

										<label class="label col col-2">대표자 전화번호</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">대표자 E-MAIL</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
										<label class="label col col-6"></label>
									</div>

									<div class="row">
										<label class="label col col-2">사이트 URL</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">API 연동 키</label>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">보유 MAR</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>

										<label class="label col col-2">상태</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>


									<div class="row">
										<label class="label col col-12">메모</label>

									</div>

									<section>
										<label class="textarea textarea-resizable">
											<textarea rows="3" class="custom-scroll"></textarea>
										</label>
									</section>
								</fieldset>
								<footer>
									<p>권한이 있을 경우만 해당 영역 노출</p>
									<button type="submit" class="btn btn-primary">
										수정
									</button>
								</footer>
							</form>

						</div>
					</div>
				</div>
			</article>

		</div>
	</section>




	<section id="widget-grid" class="" style="max-width:1000px;">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
						<h2> EST 담당자 정보 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset>

									<div class="row">
										<label class="label col col-2">담당자 명</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>

										<label class="label col col-2">담당자 전화번호</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">담당자 E-MAIL</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>

										<label class="label col col-6"></label>
									</div>

								</fieldset>
								<footer>
									<p>권한이 있을 경우만 해당 영역 노출</p>
									<button type="submit" class="btn btn-primary">
										수정
									</button>
								</footer>
							</form>

						</div>
					</div>
				</div>
			</article>

		</div>
	</section>

<!-- END MAIN CONTENT -->
