
<div id="content">



	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-search"></i> </span>
						<h2>조회 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">


								<fieldset>

									<div class="row">
										<label class="label col col-1">국가</label>
										<section class="col col-4">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">대한민국</option>
												</select> <i></i>
											</label>
										</section>

										<label class="label col col-1">STATION</label>
										<section class="col col-4">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">서울지점</option>
												</select> <i></i>
											</label>
										</section>
										<label class="label col col-2"></label>
									</div>
								</fieldset>
								<fieldset>


									<div class="row">
										<label class="label col col-1">검색조건</label>
										<section class="col col-2">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">SENDER</option>
												</select> <i></i>
											</label>
										</section>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="검색어">
											</label>
										</section>

										<label class="label col col-1">등록일자</label>
										<section class="col col-2">
											<label class="input">
												<i class="icon-append fa fa-calendar"></i>
												<input type="text" name="startdate" id="startdate" placeholder="Expected start date" class="hasDatepicker">
											</label>
										</section>
										<section class="col col-2">
											<label class="input">
												<i class="icon-append fa fa-calendar"></i>
												<input type="text" name="startdate" id="startdate" placeholder="Expected start date" class="hasDatepicker">
											</label>
										</section>
									</div>

								</fieldset>

								<footer>
									<button type="submit" class="btn btn-primary">
										전체 조회
									</button>

									<button type="submit" class="btn btn-primary">
										조회
									</button>
								</footer>
							</form>

						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<div class="row">
		<article class="col-sm-12">

			<label style="float:right;" class="select">
				<select name="country">
					<option value="0" selected="" disabled="">100개보기</option>
				</select> <i></i>
			</label>
			<label style="float:right;" class="select">
				<select name="country">
					<option value="0" selected="" disabled="">대표상품명</option>
				</select> <i></i>
			</label>
			<label style="float:right;">정렬</label>

		</article>
	</div>



	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>MAR 충전 신청 조회 결과</h2>
						<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
					</header>

					<div role="content">
						<div class="widget-body no-padding">


							<div class="table-responsive">

								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="width:5%;">번호</th>
											<th style="width:4%;"></th>
											<th style="width:10%;">국가</th>
											<th style="width:auto;">STATION</th>
											<th style="width:8%;">EST CODE</th>
											<th style="width:8%;">담당자명</th>
											<th style="width:12%;">담당자 계정 (E-MAIL)</th>
											<th style="width:12%;">연락처</th>
											<th style="width:14%;">등록일자</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
											</td>
											<td>대한민국</td>
											<td>서울지점</td>
											<td>KR-0001</td>
											<td>강민성</td>
											<td>lakantoq@naver.com</td>
											<td>010-2028-1393</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
											</td>
											<td>대한민국</td>
											<td>서울지점</td>
											<td>KR-0001</td>
											<td>강민성</td>
											<td>lakantoq@naver.com</td>
											<td>010-2028-1393</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
											</td>
											<td>대한민국</td>
											<td>서울지점</td>
											<td>KR-0001</td>
											<td>강민성</td>
											<td>lakantoq@naver.com</td>
											<td>010-2028-1393</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
											</td>
											<td>대한민국</td>
											<td>서울지점</td>
											<td>KR-0001</td>
											<td>강민성</td>
											<td>lakantoq@naver.com</td>
											<td>010-2028-1393</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
											</td>
											<td>대한민국</td>
											<td>서울지점</td>
											<td>KR-0001</td>
											<td>강민성</td>
											<td>lakantoq@naver.com</td>
											<td>010-2028-1393</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
											</td>
											<td>대한민국</td>
											<td>서울지점</td>
											<td>KR-0001</td>
											<td>강민성</td>
											<td>lakantoq@naver.com</td>
											<td>010-2028-1393</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
											</td>
											<td>대한민국</td>
											<td>서울지점</td>
											<td>KR-0001</td>
											<td>강민성</td>
											<td>lakantoq@naver.com</td>
											<td>010-2028-1393</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
											</td>
											<td>대한민국</td>
											<td>서울지점</td>
											<td>KR-0001</td>
											<td>강민성</td>
											<td>lakantoq@naver.com</td>
											<td>010-2028-1393</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
											</td>
											<td>대한민국</td>
											<td>서울지점</td>
											<td>KR-0001</td>
											<td>강민성</td>
											<td>lakantoq@naver.com</td>
											<td>010-2028-1393</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
											</td>
											<td>대한민국</td>
											<td>서울지점</td>
											<td>KR-0001</td>
											<td>강민성</td>
											<td>lakantoq@naver.com</td>
											<td>010-2028-1393</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
								</table>

							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<ul class="pagination pagination-lg">
						<li>
							<a href="javascript:void(0);"><i class="fa fa-chevron-left"></i></a>
						</li>
						<li class="active">
							<a href="javascript:void(0);">1</a>
						</li>
						<li>
							<a href="javascript:void(0);">2</a>
						</li>
						<li>
							<a href="javascript:void(0);">3</a>
						</li>
						<li>
							<a href="javascript:void(0);">4</a>
						</li>
						<li>
							<a href="javascript:void(0);">5</a>
						</li>
						<li>
							<a href="javascript:void(0);"><i class="fa fa-chevron-right"></i></a>
						</li>
					</ul>
				</div>

			</article>
		</div>
	</section>



</div>



<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:1100px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title" id="myModalLabel">STATION 정보</h4>
			</div>
			<div class="modal-body">


				@Html.Partial("EstInfoView")

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					닫기
				</button>
			</div>


		</div>
	</div>
</div>


