
<div id="content">



	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-search"></i> </span>
						<h2>조회 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">


								<fieldset>

									<div class="row">
										<label class="label col col-1">국가</label>
										<section class="col col-3">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">대한민국</option>
												</select> <i></i>
											</label>
										</section>

										<label class="label col col-1">STATION</label>
										<section class="col col-3">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">서울지점</option>
												</select> <i></i>
											</label>
										</section>
										<label class="label col col-1">배송국가</label>
										<section class="col col-3">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">서울지점</option>
												</select> <i></i>
											</label>
										</section>
										<label class="label col col-2"></label>
									</div>
								</fieldset>
								<fieldset>


									<div class="row">
										<label class="label col col-1">검색조건</label>
										<section class="col col-2">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">마스터 번호</option>
												</select> <i></i>
											</label>
										</section>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="검색어">
											</label>
										</section>

										<label class="label col col-1">출고일자</label>
										<section class="col col-2">
											<label class="input">
												<i class="icon-append fa fa-calendar"></i>
												<input type="text" name="startdate" id="startdate" placeholder="Expected start date" class="hasDatepicker">
											</label>
										</section>
										<section class="col col-2">
											<label class="input">
												<i class="icon-append fa fa-calendar"></i>
												<input type="text" name="startdate" id="startdate" placeholder="Expected start date" class="hasDatepicker">
											</label>
										</section>
									</div>

								</fieldset>

								<footer>
									<button type="submit" class="btn btn-primary">
										전체 조회
									</button>

									<button type="submit" class="btn btn-primary">
										조회
									</button>
								</footer>
							</form>

						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<div class="row">
		<article class="col-sm-12">

			<label style="float:right;" class="select">
				<select name="country">
					<option value="0" selected="" disabled="">100개보기</option>
				</select> <i></i>
			</label>
			<label style="float:right;" class="select">
				<select name="country">
					<option value="0" selected="" disabled="">대표상품명</option>
				</select> <i></i>
			</label>
			<label style="float:right;">정렬</label>

		</article>
	</div>



	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>MAR 충전 신청 조회 결과</h2>
						<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
					</header>

					<div role="content">
						<div class="widget-body no-padding">


							<div class="table-responsive">

								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="width:5%;">번호</th>
											<th style="width:10%;">국가</th>
											<th style="width:auto;">STATION</th>
											<th style="width:auto;">배송국가</th>
											<th style="width:10%;">마스터 번호</th>
											<th style="width:12%;">출고갯수</th>
											<th style="width:14%;">출고 일자</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>대한민국</td>
											<td>서울지점</td>
											<td>1,000</td>
											<td>1,000</td>
											<td>1,000</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
								</table>

							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<ul class="pagination pagination-lg">
						<li>
							<a href="javascript:void(0);"><i class="fa fa-chevron-left"></i></a>
						</li>
						<li class="active">
							<a href="javascript:void(0);">1</a>
						</li>
						<li>
							<a href="javascript:void(0);">2</a>
						</li>
						<li>
							<a href="javascript:void(0);">3</a>
						</li>
						<li>
							<a href="javascript:void(0);">4</a>
						</li>
						<li>
							<a href="javascript:void(0);">5</a>
						</li>
						<li>
							<a href="javascript:void(0);"><i class="fa fa-chevron-right"></i></a>
						</li>
					</ul>
				</div>

			</article>
		</div>
	</section>



</div>



<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:1100px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title" id="myModalLabel">STATION 정보</h4>
			</div>
			<div class="modal-body">



				<div class="widget-body">
					<hr class="simple">
					<ul id="myTab1" class="nav nav-tabs bordered">
						<li class="active">
							<a href="#s1" data-toggle="tab" aria-expanded="true"> EST 기본정보 </a>
						</li>
						<li class="">
							<a href="#s2" data-toggle="tab" aria-expanded="true"> EST 계좌정보 </a>
						</li>
						<li class="">
							<a href="#s3" data-toggle="tab" aria-expanded="true"> EST 통관비용 </a>
						</li>
						<li class="">
							<a href="#s4" data-toggle="tab" aria-expanded="true"> 국가별 요율표 </a>
						</li>
					</ul>

					<div id="myTabContent1" class="tab-content padding-10">
						<div id="myTabContent1" class="tab-content padding-10">
							<div class="tab-pane fade active in" id="s1">



								<section id="widget-grid" class="">
									<div class="row">
										<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
											<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
												<header role="heading">
													<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
													<h2> EST 기본 정보 </h2>
												</header>
												<div role="content">
													<div class="widget-body no-padding">
														<form id="checkout-form" class="smart-form" novalidate="novalidate">

															<fieldset>
																<div class="row">
																	<label class="label col col-2">업체명</label>
																	<section class="col col-4">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="">
																		</label>
																	</section>

																	<label class="label col col-2">국가</label>
																	<section class="col col-4">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="">
																		</label>
																	</section>
																</div>

																<div class="row">
																	<label class="label col col-2">우편번호</label>
																	<section class="col col-4">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="">
																		</label>
																	</section>

																	<label class="label col col-2">사업자 번호</label>
																	<section class="col col-4">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="">
																		</label>
																	</section>
																</div>

																<div class="row">
																	<label class="label col col-2">기본주소</label>
																	<section class="col col-10">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="">
																		</label>
																	</section>
																</div>

																<div class="row">
																	<label class="label col col-2">상세주소</label>
																	<section class="col col-10">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="">
																		</label>
																	</section>
																</div>

																<div class="row">
																	<label class="label col col-2">대표자명</label>
																	<section class="col col-4">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="">
																		</label>
																	</section>

																	<label class="label col col-2">대표자 전화번호</label>
																	<section class="col col-4">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="">
																		</label>
																	</section>
																</div>

																<div class="row">
																	<label class="label col col-2">대표자 E-MAIL</label>
																	<section class="col col-4">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="">
																		</label>
																	</section>
																	<label class="label col col-6"></label>
																</div>

																<div class="row">
																	<label class="label col col-2">사이트 URL</label>
																	<section class="col col-10">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="">
																		</label>
																	</section>
																</div>

																<div class="row">
																	<label class="label col col-2">API 연동 키</label>
																	<section class="col col-10">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="">
																		</label>
																	</section>
																</div>

																<div class="row">
																	<label class="label col col-2">보유 MAR</label>
																	<section class="col col-4">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="">
																		</label>
																	</section>

																	<label class="label col col-2">상태</label>
																	<section class="col col-4">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="">
																		</label>
																	</section>
																</div>


																<div class="row">
																	<label class="label col col-12">메모</label>

																</div>

																<section>
																	<label class="textarea textarea-resizable">
																		<textarea rows="3" class="custom-scroll"></textarea>
																	</label>
																</section>
															</fieldset>
															<footer>
																<p>권한이 있을 경우만 해당 영역 노출</p>
																<button type="submit" class="btn btn-primary">
																	수정
																</button>
															</footer>
														</form>

													</div>
												</div>
											</div>
										</article>

									</div>
								</section>




								<section id="widget-grid" class="" style="max-width:1000px;">
									<div class="row">
										<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
											<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
												<header role="heading">
													<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
													<h2> EST 담당자 정보 </h2>
												</header>
												<div role="content">
													<div class="widget-body no-padding">
														<form id="checkout-form" class="smart-form" novalidate="novalidate">

															<fieldset>

																<div class="row">
																	<label class="label col col-2">담당자 명</label>
																	<section class="col col-4">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="">
																		</label>
																	</section>

																	<label class="label col col-2">담당자 전화번호</label>
																	<section class="col col-4">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="">
																		</label>
																	</section>
																</div>

																<div class="row">
																	<label class="label col col-2">담당자 E-MAIL</label>
																	<section class="col col-4">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="">
																		</label>
																	</section>

																	<label class="label col col-6"></label>
																</div>

															</fieldset>
															<footer>
																<p>권한이 있을 경우만 해당 영역 노출</p>
																<button type="submit" class="btn btn-primary">
																	수정
																</button>
															</footer>
														</form>

													</div>
												</div>
											</div>
										</article>

									</div>
								</section>

								<!-- END MAIN CONTENT -->


							</div>
							<div class="tab-pane fade" id="s2">



								<section id="widget-grid" class="">
									<div class="row">
										<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
											<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
												<header role="heading">
													<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
													<h2> EST 계좌 정보</h2>
												</header>
												<div role="content">
													<div class="widget-body no-padding">
														<form id="checkout-form" class="smart-form" novalidate="novalidate">

															<fieldset>


																<div class="row">
																	<label class="label col col-2">SWIFT CODE</label>
																	<section class="col col-10">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="IBKOKRSE">
																		</label>
																	</section>
																</div>

																<div class="row">
																	<label class="label col col-2">은행 주소</label>
																	<section class="col col-10">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="50, ULCHIRO 2-GA, CHUNG-GU, SEOUL KOREA">
																		</label>
																	</section>
																</div>

																<div class="row">
																	<label class="label col col-2">당행 계좌번호</label>
																	<section class="col col-10">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="원화 / 외화 계좌 모두 가능">
																		</label>
																	</section>
																</div>

																<div class="row">
																	<label class="label col col-2">영문 수취인 명</label>
																	<section class="col col-10">
																		<label for="address2" class="input">
																			<input type="text" name="address2" id="address2" placeholder="KANG MINSUNG">
																		</label>
																	</section>
																</div>

																<div class="row">
																	<label class="label col col-12">메모</label>

																</div>

																<section>
																	<label class="textarea textarea-resizable">
																		<textarea rows="3" class="custom-scroll"></textarea>
																	</label>
																</section>
															</fieldset>
															<footer>
																<p>권한이 있을 경우만 해당 영역 노출</p>
																<button type="submit" class="btn btn-primary">
																	수정
																</button>
															</footer>
														</form>

													</div>
												</div>
											</div>
										</article>

									</div>
								</section>



							</div>
							<div class="tab-pane fade" id="s3">


								<section id="widget-grid" class="">
									<div class="row">
										<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
											<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
												<header role="heading">
													<span class="widget-icon"> <i class="fa fa-search"></i> </span>
													<h2>국가별 요율표 조회 </h2>
												</header>
												<div role="content">
													<div class="widget-body no-padding">
														<form id="checkout-form" class="smart-form" novalidate="novalidate">

															<fieldset>

																<div class="row">

																	<section class="col col-4">
																		<label>도착국가</label>
																		<label class="select">
																			<select name="country">
																				<option value="0" selected="" disabled="">대한민국</option>
																			</select> <i></i>
																		</label>
																	</section>
																	<section class="col col-4">
																		<label>출고타입</label>
																		<label class="select">
																			<select name="country">
																				<option value="0" selected="" disabled="">중국 배송 A</option>
																			</select> <i></i>
																		</label>
																	</section>
																</div>

															</fieldset>

															<footer>
																<button type="submit" class="btn btn-primary">
																	배송 요금표 조회
																</button>
															</footer>
														</form>

													</div>
												</div>
											</div>
										</article>
									</div>
								</section>




								<section id="widget-grid" class="" style="width:1000px;">
									<div class="row">
										<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
											<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
												<header role="heading">
													<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
													<h2> 출고타입 정보 </h2>
												</header>
												<div role="content">
													<div class="widget-body no-padding">
														<form id="checkout-form" class="smart-form" novalidate="novalidate">

															<fieldset>
																<div class="row">
																	<label class="label col col-3">국가</label>
																	<label class="label col col-9">대한민국</label>
																</div>

																<div class="row">
																	<label class="label col col-3">출고타입</label>
																	<label class="label col col-9">중국배송 A</label>
																</div>

																<div class="row">
																	<label class="label col col-3">출고타입 코드</label>
																	<label class="label col col-9">CN_TYPE_A</label>
																</div>

																<div class="row">
																	<label class="label col col-3">출고타입 설명</label>
																	<label class="label col col-9">중국배송 기본 타입 설명</label>
																</div>

																<div class="row">
																	<label class="label col col-3">출고타입 기호</label>
																	<label class="label col col-9">A</label>
																</div>

																<div class="row">
																	<label class="label col col-3">사용 여부</label>
																	<label class="label col col-9">사용</label>
																</div>

																<div class="row">
																	<label class="label col col-3">등록일자</label>
																	<label class="label col col-9">2018-03-30 00:00:00</label>
																</div>

																<div class="row">
																	<label class="label col col-3">수정일자</label>
																	<label class="label col col-9">2018-03-30 00:00:00</label>
																</div>
															</fieldset>

															<fieldset>
																<div class="input input-file">
																	<span class="button"><input type="file" id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" placeholder="Include some files" readonly="">
																</div>

																<a class="btn btn-primary" href="javascript:void(0);" style="padding:5px 22px; "> 요금표 엑셀 다운로드</a>
																<a class="btn btn-primary" href="javascript:void(0);" style="padding:5px 22px; float:right; "> 요금표 엑셀 업로드</a>
																<br /><br /><br />
															</fieldset>
														</form>

													</div>
												</div>
											</div>
										</article>



										<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
											<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
												<header role="heading">
													<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
													<h2> 출고타입 요금 정보 </h2>
												</header>
												<div role="content">


													<section id="widget-grid" class="">
														<div class="row">
															<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
																<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
																	<header role="heading">
																		<span class="widget-icon"> <i class="fa fa-table"></i> </span>
																		<h2>무게별 요금</h2>
																		<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
																	</header>

																	<div role="content">
																		<div class="widget-body no-padding">


																			<div class="table-responsive">

																				<table class="table table-bordered table-striped">
																					<thead>
																						<tr>
																							<th style="width:40%;">무게(KG)</th>
																							<th style="width:60%;">요금(MAR)</th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr>	<td>0.1</td>	<td>1.0</td>	</tr>
																						<tr>	<td>0.2</td>	<td>1.1</td>	</tr>
																						<tr>	<td>0.3</td>	<td>1.2</td>	</tr>
																						<tr>	<td>0.4</td>	<td>1.3</td>	</tr>
																						<tr>	<td>0.5</td>	<td>1.4</td>	</tr>
																						<tr>	<td>0.6</td>	<td>1.5</td>	</tr>
																						<tr>	<td>0.7</td>	<td>1.6</td>	</tr>
																						<tr>	<td>0.8</td>	<td>1.7</td>	</tr>
																						<tr>	<td>0.9</td>	<td>1.8</td>	</tr>
																						<tr>	<td>1.0</td>	<td>1.9</td>	</tr>
																						<tr>	<td>1.25</td>	<td>2.1</td>	</tr>
																						<tr>	<td>1.50</td>	<td>2.2</td>	</tr>
																						<tr>	<td>1.75</td>	<td>2.3</td>	</tr>
																						<tr>	<td>2.0</td>	<td>2.4</td>	</tr>
																						<tr>	<td>2.5</td>	<td>2.5</td>	</tr>
																						<tr>	<td>3.0</td>	<td>2.6</td>	</tr>
																						<tr>	<td>...</td>	<td>2.7</td>	</tr>
																						<tr>	<td>...</td>	<td>2.8</td>	</tr>
																						<tr>	<td>...</td>	<td>2.9</td>	</tr>
																						<tr>	<td>...</td>	<td>2.10</td>	</tr>
																						<tr>	<td>...</td>	<td>2.11</td>	</tr>
																						<tr>	<td>...</td>	<td>2.12</td>	</tr>
																						<tr>	<td>...</td>	<td>2.13</td>	</tr>
																						<tr>	<td>...</td>	<td>2.14</td>	</tr>
																						<tr>	<td>...</td>	<td>2.15</td>	</tr>
																						<tr>	<td>...</td>	<td>2.16</td>	</tr>
																						<tr>	<td>...</td>	<td>2.17</td>	</tr>
																						<tr>	<td>...</td>	<td>2.18</td>	</tr>
																						<tr>	<td>...</td>	<td>2.19</td>	</tr>
																						<tr>	<td>...</td>	<td>2.20</td>	</tr>
																						<tr>	<td>...</td>	<td>2.21</td>	</tr>

																					</tbody>
																				</table>

																			</div>
																		</div>
																	</div>
																</div>

															</article>
														</div>
													</section>


												</div>
											</div>
										</article>

									</div>
								</section>

							</div>
							<div class="tab-pane fade" id="s4">


								<section id="widget-grid" class="">
									<div class="row">
										<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
											<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
												<header role="heading">
													<span class="widget-icon"> <i class="fa fa-search"></i> </span>
													<h2>국가별 요율표 조회 </h2>
												</header>
												<div role="content">
													<div class="widget-body no-padding">
														<form id="checkout-form" class="smart-form" novalidate="novalidate">

															<fieldset>

																<div class="row">

																	<section class="col col-4">
																		<label>도착국가</label>
																		<label class="select">
																			<select name="country">
																				<option value="0" selected="" disabled="">대한민국</option>
																			</select> <i></i>
																		</label>
																	</section>
																	<section class="col col-4">
																		<label>출고타입</label>
																		<label class="select">
																			<select name="country">
																				<option value="0" selected="" disabled="">중국 배송 A</option>
																			</select> <i></i>
																		</label>
																	</section>
																</div>

															</fieldset>

															<footer>
																<button type="submit" class="btn btn-primary">
																	배송 요금표 조회
																</button>
															</footer>
														</form>

													</div>
												</div>
											</div>
										</article>
									</div>
								</section>



								<section id="widget-grid" class="">
									<div class="row">
										<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
											<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
												<header role="heading">
													<span class="widget-icon"> <i class="fa fa-table"></i> </span>
													<h2>[STATIO명] - STATION 배송 요금표</h2>
												</header>

												<div role="content">
													<div class="widget-body no-padding">


														<div class="table-responsive">

															<table class="table table-bordered table-striped">
																<thead>
																	<tr>

																		<th style="width:10%;">무게(KG)</th>
																		<th style="width:10%;">출고타입</th>
																		<th style="width:10%;">일반배송 </th>
																		<th style="width:10%;">보관배송</th>
																		<th style="width:10%;">출고타입</th>
																		<th style="width:10%;">일반배송 </th>
																		<th style="width:10%;">보관배송</th>
																		<th style="width:10%;">출고타입</th>
																		<th style="width:10%;">일반배송 </th>
																		<th style="width:10%;">보관배송</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td><td>중국배송A</td>	<td>0.1</td>	<td>0.2</td></tr>
																	<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td><td>중국배송A</td>	<td>0.1</td>	<td>0.2</td></tr>
																	<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td><td>중국배송A</td>	<td>0.1</td>	<td>0.2</td></tr>
																	<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td><td>중국배송A</td>	<td>0.1</td>	<td>0.2</td></tr>
																	<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td><td>중국배송A</td>	<td>0.1</td>	<td>0.2</td></tr>
																	<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td><td>중국배송A</td>	<td>0.1</td>	<td>0.2</td></tr>
																	<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td><td>중국배송A</td>	<td>0.1</td>	<td>0.2</td></tr>
																	<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td><td>중국배송A</td>	<td>0.1</td>	<td>0.2</td></tr>
																	<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td><td>중국배송A</td>	<td>0.1</td>	<td>0.2</td></tr>
																	<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td><td>중국배송A</td>	<td>0.1</td>	<td>0.2</td></tr>
																	<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td><td>중국배송A</td>	<td>0.1</td>	<td>0.2</td></tr>
																	<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td><td>중국배송A</td>	<td>0.1</td>	<td>0.2</td></tr>

																</tbody>
															</table>


														</div>
													</div>
												</div>
											</div>

											<button type="submit" class="btn btn-primary" style="float:right;">
												배송 요금표 저장
											</button>
										</article>
									</div>
								</section>


							</div>

						</div>
					</div>

				</div>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					닫기
				</button>
			</div>


		</div>
	</div>
</div>


