
<div id="content">



	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-search"></i> </span>
						<h2>국가별 요율표 조회 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset>

									<div class="row">
										<label class="label col col-1">출발국가</label>
										<section class="col col-3">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">대한민국</option>
												</select> <i></i>
											</label>
										</section>
										<label class="label col col-1">STATION</label>
										<section class="col col-3">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">서울지점</option>
												</select> <i></i>
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-1">도착국가</label>
										<section class="col col-3">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">중국</option>
												</select> <i></i>
											</label>
										</section>
										<label class="label col col-1">출고타입</label>
										<section class="col col-3">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">중국배송A</option>
												</select> <i></i>
											</label>
										</section>
									</div>

								</fieldset>

								<footer>
									<button type="submit" class="btn btn-primary">
										배송 요금표 조회
									</button>
								</footer>
							</form>

						</div>
					</div>
				</div>
			</article>
		</div>
	</section>



	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>[STATIO명] - STATION 배송 요금표</h2>
					</header>

					<div role="content">
						<div class="widget-body no-padding">


							<div class="table-responsive">

								<table class="table table-bordered table-striped">
									<thead>
										<tr>

											<th style="width:10%;">무게(KG)</th>
											<th style="width:10%;">출고타입</th>
											<th style="width:10%;">일반배송 </th>
											<th style="width:10%;">보관배송</th>
											<th ></th>
										</tr>
									</thead>
									<tbody>
										<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	</tr>
										<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	</tr>
										<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	</tr>
										<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	</tr>
										<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	</tr>
										<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	</tr>
										<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	</tr>
										<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	</tr>
										<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	</tr>
										<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	</tr>
										<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	</tr>
										<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	</tr>
										<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	</tr>
										<tr>	<td>0.1</td>	<td>중국배송A</td>	<td>0.1</td>	<td>0.2</td>	</tr>

									</tbody>
								</table>


							</div>
						</div>
					</div>
				</div>

			</article>
		</div>
	</section>


</div>


