
<div id="content" style="max-width:1000px;">



	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-search"></i> </span>
						<h2>공항 추가 / 수정 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset>

									<div class="row">
										<label class="label col col-2">시작번호</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
										<label class="label col col-2">끝번호</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>
									<div class="row">
										<label class="label col col-2">접두어</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
										<label class="label col col-2">접미어</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-2">사용여부</label>
										<section class="col col-4">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">사용</option>
												</select> <i></i>
											</label>
										</section>
										<label class="label col col-6">&nbsp;</label>
									</div>

								</fieldset>

								<footer>
									<button type="submit" class="btn btn-primary">
										추가
									</button>
									<button type="submit" class="btn btn-primary">
										수정
									</button>
								</footer>
							</form>

						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>공항 정보</h2>
						<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
					</header>

					<div role="content">
						<div class="widget-body no-padding">


							<div class="table-responsive">

								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="width:6%;">번호</th>
											<th style="width:8%;"></th>
											<th style="width:auto;">시작번호</th>
											<th style="width:auto;">끝번호</th>
											<th style="width:auto;">접두어</th>
											<th style="width:auto;">접미어</th>
											<th style="width:auto;">사용갯수</th>
											<th style="width:auto;">남은갯수</th>
											<th style="width:auto;">등록일자</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>321</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-edit"></i>
												</a>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
											<td>00000001</td>
											<td>01000001</td>
											<td>ETS</td>
											<td>ETS</td>
											<td>01000001</td>
											<td>09999999</td>
											<td>2018-03-30 00:00:00</td>
										</tr>
										<tr>
											<td>321</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-edit"></i>
												</a>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
											<td>00000001</td>
											<td>01000001</td>
											<td>ETS</td>
											<td>ETS</td>
											<td>01000001</td>
											<td>09999999</td>
											<td>2018-03-30 00:00:00</td>
										</tr>
										<tr>
											<td>321</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-edit"></i>
												</a>
												<a href="javascript:void(0);" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
											<td>00000001</td>
											<td>01000001</td>
											<td>ETS</td>
											<td>ETS</td>
											<td>01000001</td>
											<td>09999999</td>
											<td>2018-03-30 00:00:00</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>

			</article>
		</div>
	</section>



</div>


