<table style="width:100%;">
    <tr>
        <td align="center">
            <span style="font-size:100px; color:red;"><i class="fa fa-exclamation-triangle"></i></span>
        </td>
    </tr>
    <tr>
        <td align="center">
            <h2 style="color:red;"><b>접근권한이 없습니다.</b></h2>
        </td>
    </tr>
</table>