@model web_ese.Models_Act.Mar.MarReqPgModels

@{
	//팝업 형식 레이아웃 별도 지정
	Layout = "~/Views/Shared/_PopLayout.cshtml";
}

<!--MAR 충전(PG)-->
<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
	<header role="heading">
		<span class="widget-icon"> <i class="fa fa-table"></i> </span>
		<h2>MAR 충전 (PG)</h2>
		<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
	</header>

	<div role="content">
		<div class="widget-body no-padding">
			<div class="table-responsive">

				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th style="width:5%;">번호</th>
							<th style="width:auto;">결제 방식</th>
							<th style="width:12%;">상태</th>
							<th style="width:12%;">결제금액</th>
							<th style="width:12%;">충전마르</th>
							<th style="width:16%;">요청일자</th>
							<th style="width:16%;">처리일자</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>신용카드</td>
							<td>충전 완료</td>
							<td>1000.000</td>
							<td> + 1.000</td>
							<td>2018-03-01 00:00:00</td>
							<td>2018-03-01 00:00:00</td>
						</tr>
						<tr>
							<td>1</td>
							<td>계좌이체</td>
							<td>충전 완료</td>
							<td>1000.000</td>
							<td> + 1.000</td>
							<td>2018-03-01 00:00:00</td>
							<td>2018-03-01 00:00:00</td>
						</tr>
						<tr>
							<td>1</td>
							<td>계좌이체</td>
							<td>충전 완료</td>
							<td>1000.000</td>
							<td> + 1.000</td>
							<td>2018-03-01 00:00:00</td>
							<td>2018-03-01 00:00:00</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>

@Html.Raw(ViewData["pageing"])

@section pagespecific {


	<script type="text/javascript">
		//페이징 공통 함수
		function movPage(page) {
			$('#Paging_page').val(page);
			$('#listForm').submit();
		}
	</script>


}