
<div id="content">





	<div class="alert alert-block alert-success" style="max-width:1000px;">
		<h4 class="alert-heading"><i class="fa fa-check-square-o"></i>@comm_global.Language.Resources.ESE_Comm_Ready</h4>
	</div>



</div>
<!-- END MAIN CONTENT -->
