
<div id="content">



	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-search"></i> </span>
						<h2>조회 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset>


									<div class="row">

										<label class="label col col-1">공지유형</label>
										<section class="col col-3">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">시스템 업데이트</option>
												</select> <i></i>
											</label>
										</section>
										<label class="label col col-3"></label>
										<label class="label col col-1">등록일자</label>
										<section class="col col-2">
											<label class="input">
												<i class="icon-append fa fa-calendar"></i>
												<input type="text" name="startdate" id="startdate" placeholder="Expected start date" class="hasDatepicker">
											</label>
										</section>
										<section class="col col-2">
											<label class="input">
												<i class="icon-append fa fa-calendar"></i>
												<input type="text" name="startdate" id="startdate" placeholder="Expected start date" class="hasDatepicker">
											</label>
										</section>

									</div>
									<div class="row">
										<label class="label col col-1">검색조건</label>
										<section class="col col-2">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">제목</option>
												</select> <i></i>
											</label>
										</section>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="검색어">
											</label>
										</section>
									</div>

								</fieldset>

								<footer>
									<button type="submit" class="btn btn-primary">
										전체 조회
									</button>

									<button type="submit" class="btn btn-primary">
										조회
									</button>
								</footer>
							</form>

						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<div class="row">
		<article class="col-sm-12">

			<label style="float:right;" class="select">
				<select name="country">
					<option value="0" selected="" disabled="">100개보기</option>
				</select> <i></i>
			</label>
			<label style="float:right;" class="select">
				<select name="country">
					<option value="0" selected="" disabled="">대표상품명</option>
				</select> <i></i>
			</label>
			<label style="float:right;">정렬</label>

		</article>
	</div>



	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>공지사항 조회 결과</h2>
					</header>

					<div role="content">
						<div class="widget-body no-padding">


							<div class="table-responsive">

								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="width:5%;">번호</th>
											<th style="width:15%;">공지유형</th>
											<th style="width:auto;">제목</th>
											<th style="width:14%;">등록일자</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>시스템 업데이트 </td>
											<td>
												<a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">
													2018-03-30 시스템 업데이트로 인한 점검 관련 안내 (필독)
												</a>
											</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>시스템 업데이트 </td>
											<td>
												<a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">
													2018-03-30 시스템 업데이트로 인한 점검 관련 안내 (필독)
												</a>
											</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>시스템 업데이트 </td>
											<td>
												<a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">
													2018-03-30 시스템 업데이트로 인한 점검 관련 안내 (필독)
												</a>
											</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>시스템 업데이트 </td>
											<td>
												<a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">
													2018-03-30 시스템 업데이트로 인한 점검 관련 안내 (필독)
												</a>
											</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>시스템 업데이트 </td>
											<td>
												<a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">
													2018-03-30 시스템 업데이트로 인한 점검 관련 안내 (필독)
												</a>
											</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>시스템 업데이트 </td>
											<td>
												<a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">
													2018-03-30 시스템 업데이트로 인한 점검 관련 안내 (필독)
												</a>
											</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>시스템 업데이트 </td>
											<td>
												<a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">
													2018-03-30 시스템 업데이트로 인한 점검 관련 안내 (필독)
												</a>
											</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>시스템 업데이트 </td>
											<td>
												<a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">
													2018-03-30 시스템 업데이트로 인한 점검 관련 안내 (필독)
												</a>
											</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
										<tr>
											<td>1</td>
											<td>시스템 업데이트 </td>
											<td>
												<a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">
													2018-03-30 시스템 업데이트로 인한 점검 관련 안내 (필독)
												</a>
											</td>
											<td>2018-03-01 00:00:00</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<ul class="pagination pagination-lg">
						<li>
							<a href="javascript:void(0);"><i class="fa fa-chevron-left"></i></a>
						</li>
						<li class="active">
							<a href="javascript:void(0);">1</a>
						</li>
						<li>
							<a href="javascript:void(0);">2</a>
						</li>
						<li>
							<a href="javascript:void(0);">3</a>
						</li>
						<li>
							<a href="javascript:void(0);">4</a>
						</li>
						<li>
							<a href="javascript:void(0);">5</a>
						</li>
						<li>
							<a href="javascript:void(0);"><i class="fa fa-chevron-right"></i></a>
						</li>
					</ul>
				</div>

			</article>
		</div>
	</section>



</div>

<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:800px;">
		<div class="modal-content">



			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title" id="myModalLabel">공지사항 상세</h4>
			</div>
			<div class="modal-body">



				<section id="widget-grid" class="" style="max-width:1000px;">
					<div class="row">
						<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
							<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
								<header role="heading">
									<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
									<h2> 2018-03-30 시스템 업데이트로 인한 점검 관련 안내 (필독) </h2>
								</header>
								<div role="content">
									<p>등록일자 : 2018-03-30 00:00:00 </p>
									<div class="widget-body no-padding">
<pre>
2018-03-30 시스템 업데이트로 인한 점검 관련 안내 

2018-03-30  오후 1시 부터 오후 4시 까지 시스템 업데이트 관련 점검이 있을 예정입니다.








</pre>

									</div>
								</div>
							</div>
						</article>
					</div>
				</section>



			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					닫기
				</button>
			</div>	


		</div>
	</div>
</div>