
<div id="content">







	<section id="widget-grid" class="" style="max-width:1000px;">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-floppy-o"></i> </span>
						<h2>중국 배송 대량 엑셀 등록 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset>

									<div class="row">
										<section class="col col-9">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">ETOMARS 양식</option>
												</select> <i></i>
											</label>
										</section>
										<label class="label col col-3">
											<a class="btn btn-primary" href="javascript:void(0);" style="padding:5px 22px; "> 엑셀양식 다운로드</a>
										</label>
									</div>

								</fieldset>
								<fieldset>
									<div class="row">
										<section class="col col-9">
											<div class="input input-file">
												<span class="button"><input type="file" id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" placeholder="Include some files" readonly="">
											</div>
										</section>
										<label class="label col col-3">
											<a class="btn btn-primary" href="javascript:void(0);" style="padding:5px 22px; "> 엑셀양식 업로드&nbsp;&nbsp;</a>
										</label>
									</div>

								</fieldset>

							</form>

						</div>
					</div>
				</div>
			</article>
		</div>
	</section>


	<div class="alert alert-block alert-success" style="max-width:1000px;">
		<h4 class="alert-heading"><i class="fa fa-check-square-o"></i> 개별 중국 배송 신청서 작성</h4>
	</div>



	<section id="widget-grid" class="" style="max-width:1000px;">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
						<h2>상품 바코드 스캔 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset>
									<div class="row">
										<label class="label col col-1">박스명</label>

										<section class="col col-1">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
										<section class="col col-10">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="이 곳에 커서를 활성화 하신 후 바코드를 스캔해 주세요">
											</label>
										</section>
									</div>
									<section class="col col-12">
										<p> 등록된 상품의 경우 바코드 스캔으로 상품정보를 입력하실수 있습니다. </p>
									</section>
								</fieldset>
							</form>

						</div>
					</div>
				</div>
			</article>
		</div>
	</section>




	<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget" style="max-width:1000px; margin:0px;">
		<header role="heading">
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<h2>보관 신청 선택 상품</h2>
		</header>
		<div role="content">
			<div class="widget-body no-padding">
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th></th>
								<th>카테고리</th>
								<th>상품 ID</th>
								<th>바코드</th>
								<th>SKU</th>
								<th>대표상품명</th>
								<th>브랜드</th>
								<th style="width:5%;">박스명</th>
								<th style="width:5%;">수량</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="checkbox" name="checkbox-inline"></td>
								<td>의류</td>
								<td>test123</td>
								<td>1245323232</td>
								<td>1245323232</td>
								<td>중국 차이나 홍콩반전 짜장면 곱배기</td>
								<td>no Brand</td>
								<td>
									<input type="text" size="3" />
								</td>
								<td>
									<input type="text" size="3" />
								</td>
							</tr>
							<tr>
								<td><input type="checkbox" name="checkbox-inline"></td>
								<td>의류</td>
								<td>test123</td>
								<td>1245323232</td>
								<td>1245323232</td>
								<td>중국 차이나 홍콩반전 짜장면 곱배기</td>
								<td>no Brand</td>
								<td>
									<input type="text" size="3" />
								</td>
								<td>
									<input type="text" size="3" />
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
			<!-- end widget content -->

		</div>
		<!-- end widget div -->

	</div>


	<section id="widget-grid" class="" style="max-width:1000px; margin:0 0 30px;">
		<div class="row">
			<article class="col-sm-12">

				<a class="btn btn-default" href="javascript:void(0);"><i class="fa fa-trash-o"></i> 선택 삭제</a>




				<label style="float:right;" class="select">
					<a class="btn btn-default" href="@Url.Content("~/StcProd/StcProdAdd")"> 새 상품 등록</a>
				</label>
				<label style="float:right;" class="select">
					<a class="btn btn-default" href="javascript:void(0);" data-toggle="modal" data-target="#myModal"> 상품 선택</a>
				</label>

			</article>
		</div>
	</section>





	<section id="widget-grid" class="" style="max-width:1000px;">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
						<h2> 발송인 정보 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset style="height:423px;">
									<section>
										<div class="inline-group">
											<label class="radio">
												<input type="radio" name="radio-inline" checked="checked">
												<i></i>수기입력
											</label>
											<label class="radio">
												<input type="radio" name="radio-inline">
												<i></i>회원 정보와 동일
											</label>
										</div>
									</section>
									<div class="row">
										<label class="label col col-3">출발국가</label>
										<section class="col col-9">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">대한민국</option>
												</select> <i></i>
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">STATION</label>
										<section class="col col-9">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">서울지점</option>
												</select> <i></i>
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">주문번호</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">이름</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">전화번호</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">주소</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>
								</fieldset>
							</form>

						</div>
					</div>
				</div>
			</article>



			<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
						<h2> 수취인 정보 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset>
									<div class="row">
										<label class="label col col-3">수취인 명</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">전화번호1</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">전화번호2</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">주민/통관번호</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">전화번호</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">주소</label>
										<label class="label col col-6">중국</label>
										<section class="col col-3">
											<a class="btn btn-primary" href="javascript:void(0);" style="padding:5px 22px; " data-toggle="modal" data-target="#myModal_addr"> 주소검색</a>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">우편번호</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">기본주소</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-3">상세주소</label>
										<section class="col col-9">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

								</fieldset>
							</form>

						</div>
					</div>
				</div>
			</article>

		</div>
	</section>




	<section id="widget-grid" class="" style="max-width:1000px;">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
						<h2> 기타 정보 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							<form id="checkout-form" class="smart-form" novalidate="novalidate">

								<fieldset>


									<div class="row">
										<label class="label col col-2">가로 (CM)</label>
										<label class="label col col-2">세로 (CM)</label>
										<label class="label col col-2">높이 (CM)</label>

										<label class="label col col-2">배송타입</label>
										<section class="col col-4">
											<label class="select">
												<select name="country">
													<option value="0" selected="" disabled="">A</option>
												</select> <i></i>
											</label>
										</section>
									</div>



									<div class="row">
										<section class="col col-2">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
										<section class="col col-2">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
										<section class="col col-2">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>

										<label class="label col col-2">박스수량</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<label class="label col col-6"></label>

										<label class="label col col-2">ETC1</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>


									<div class="row">
										<label class="label col col-2">부피무게 (KG)</label>
										<label class="label col col-2">실제무게 (KG)</label>
										<label class="label col col-2">적용무게 (KG)</label>

										<label class="label col col-2">ETC2</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>

									<div class="row">
										<section class="col col-2">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
										<section class="col col-2">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
										<section class="col col-2">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>

										<label class="label col col-2">ETC3</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="">
											</label>
										</section>
									</div>


									<div class="row">
										<label class="label col col-6">메모</label>
										<label class="label col col-2">배송비</label>
										<section class="col col-4">
											<label for="address2" class="input">
												<input type="text" name="address2" id="address2" placeholder="100.000">
											</label>
										</section>
									</div>

									<section>
										<label class="textarea textarea-resizable">
											<textarea rows="3" class="custom-scroll"></textarea>
										</label>
									</section>
								</fieldset>
							</form>

						</div>
					</div>
				</div>
			</article>

		</div>
		<a class="btn btn-primary btn-lg" href="javascript:void(0);" style="float:right;"> 배송 신청</a>
	</section>


</div>
<!-- END MAIN CONTENT -->




<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:1100px; ">
		<div class="modal-content">



			@Html.Partial("~/Views/StcReq/StcReqSelect.cshtml")


		</div>
	</div>
</div>





<div class="modal fade in" id="myModal_addr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:500px; ">
		<div class="modal-content">


			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title" id="myModalLabel">주소검색</h4>
			</div>
			<div class="modal-body">

				<section id="widget-grid" class="">
					<div class="row">
						<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
							<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
								<header role="heading">
									<span class="widget-icon"> <i class="fa fa-search"></i> </span>
									<h2>조회 </h2>
								</header>
								<div role="content">
									<div class="widget-body no-padding">
										<form id="checkout-form" class="smart-form" novalidate="novalidate">

											<fieldset>

												<div class="row">
													<label class="label col col-3"> 도로명</label>
													<section class="col col-9">
														<label for="address2" class="input">
															<input type="text" name="address2" id="address2" placeholder="검색어">
														</label>
													</section>
												</div>


											</fieldset>

											<footer>
												<button type="submit" class="btn btn-primary">
													조회
												</button>
											</footer>
										</form>

									</div>
								</div>
							</div>
						</article>
					</div>
				</section>





			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-default" data-dismiss="modal">
					선택
				</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">
					닫기
				</button>
			</div>



		</div>
	</div>
</div>
